@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600");

html,
body {
	height: 100%;
	width: 100%;
	font-family: "Poppins", sans-serif;
	color: #222222;
}
.img-result {
	width: 200px;
	height: 200px;
	position: absolute;
	left: -230px;
	background-repeat: no-repeat;
	background-size: cover;
}
.search-result {
	width: 90%;
	display: none;
	position: absolute;
	top: 55px;
	background-color: #fff;
	border: 1px solid;
}

.search input {
	flex: 0 0 80%;
}

.search button {
	flex: 0 0 20%;
	height: 40px;
}
.login {
	display: none;
}

.navbar {
	padding: 0.8rem;
}

.navbar-nav li {
	padding-right: 1.4rem;
}

.nav-link {
	font-size: 1.1rem !important;
}

.carousel-inner img {
	width: 100%;
	height: 100%;
}

.carousel-caption {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.carousel-caption h1 {
	font-size: 5rem;
	text-transform: uppercase;
	text-shadow: 1px 1px 10px black;
}

.carousel-caption h3 {
	font-size: 2rem;
	font-weight: 500;
	text-shadow: 1px 1px 10px black;
	padding-bottom: 1rem;
}

.btn-primary {
	background-color: #c21807;
	border: 1px solid #c21807;
}

.btn-primary:hover {
	background-color: #800000;
	border: 1px solid #800000;
}

.jumbotron {
	padding: 1rem;
	border-radius: 0;
}

.padding {
	padding-bottom: 2rem;
}

.welcome {
	width: 75%;
	margin: 0 auto;
	padding-top: 2rem;
}

.welcome hr {
	border-top: 2px solid #b4b4b4;
	width: 95%;
	margin-top: 0.3rem;
	margin-bottom: 0.5rem;
}

.fa-exclamation-triangle,
.fa-user-ninja,
.fa-radiation {
	font-size: 4rem;
	color: #c21807;
	margin: 1rem;
}

.social a {
	font-size: 4.5rem;
	padding: 3rem;
}

.fa-facebook,
.fa-twitter,
.fa-google-plus-g,
.fa-instagram,
.fa-youtube {
	color: #c21807;
}

.fa-facebook:hover,
.fa-twitter:hover,
.fa-google-plus-g:hover,
.fa-instagram:hover,
.fa-youtube:hover {
	color: #d5d5d5;
}

form {
	margin: 12% auto;
	width: 19em;
	text-align: center;
	position: relative;
	-webkit-animation: moveDown 0.3s;
	-moz-animation: moveDown 0.3s;
	animation: moveDown 0.3s;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

input {
	color: #444;
	font-size: 1.5em;
	outline: none;
	box-shadow: none;
	-webkit-appearance: none;
	border-radius: 0;
	border-top: none;
	border-left: solid 1px;
	border-right: solid 1px;
	border-bottom: solid 1px;
	border-color: #bbb;
	background: transparent;
	display: block;
	height: 2em;
	width: 12em;
	margin-bottom: 5%;
	padding: 0 3%;
	position: relative;
	z-index: 0;
	-webkit-transition: border 0.25s;
	-moz-transition: border 0.25s;
	-o-transition: border 0.25s;
	transition: border 0.25s;
}

.button {
	width: 250px;
	outline: none;
	-webkit-appearance: none;
	color: #bbb;
	font-size: 2.05em;
	padding: 3% 7%;
	cursor: pointer;
	right: -6%;
	bottom: 0%;
}

p {
	margin-bottom: 0.8em;
}

footer {
	background-color: #3f3f3f;
	color: #d5d5d5;
	padding-top: 2rem;
}

hr.light {
	border-top: 1px solid #d5d5d5;
	width: 75%;
	margin-top: 0.5rem;
	margin-bottom: 1rem;
}

hr.light-100 {
	border-top: 1px solid #d5d5d5;
	width: 100%;
	margin-top: 0.5rem;
	margin-bottom: 1rem;
}

.about__img{
	justify-self: center;
  }
  .about__img img{
	width: 200px;
	border-radius: .5rem;
  }

  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
:root{
  --first-color: #4070F4;
  --second-color: #0E2431;
}
:root{
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
}
.bd-grid{
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}
.about__img{
  justify-self: center;
}
.about__img img{
  width: 200px;
  border-radius: .5rem;
}
@media screen and (min-width: 768px){
  .section{
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
  .about__container, .skills__container{
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    text-align: initial;
  }
  .about__img img{
    width: 300px;
  }
}
.abc {
  max-width: 1024px;
  margin: 0 auto;
  margin-bottom: 10px;
}
.collapsible {
  background-color: var(--second-color);
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}
.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #318180
}

  
  

@media (max-width: 992px) {
	.social a {
		font-size: 4rem;
		padding: 2rem;
	}
}

@media (max-width: 768px) {

	
	.carousel-caption {
		top: 45%;
	}

	.carousel-caption h1 {
		font-size: 3.5rem;
		text-transform: uppercase;
		text-shadow: 1px 1px 10px black;
	}

	.carousel-caption h3 {
		font-size: 1.4rem;
		font-weight: 400;
		padding-bottom: 0.2rem;
	}

	.carousel-caption .btn {
		font-size: 95;
		padding: 8px 14px;
	}

	.display-4 {
		font-size: 2rem;
	}

	.social a {
		font-size: 2.5rem;
		padding: 1.2rem;
	}
}

@media (max-width: 576px) {
	.carousel-caption {
		top: 40%;
	}

	.carousel-caption h1 {
		font-size: 2.5rem;
		text-transform: uppercase;
		text-shadow: 1px 1px 10px black;
	}

	.carousel-caption h3 {
		font-size: 1.1rem;
		font-weight: 400;
		padding-bottom: 0.2rem;
	}

	.carousel-caption .btn {
		font-size: 90%;
		padding: 4px 8px;
	}

	.display-4 {
		font-size: 1.6rem;
	}

	.social a {
		font-size: 2rem;
		padding: 0.7rem;
	}
}

.carousel-item {
	transition: -webkit-transform 0.5s ease;
	transition: transform 0.5s ease;
	transition: transform 0.5s ease, -webkit-transform 0.5s ease;
	-webkit-backface-visibility: visible;
	backface-visibility: visible;
}

figure {
	position: relative;
	width: 100%;
	height: 60%;
	margin: 0 !important;
}
.fixed-wrap {
	clip: rect(0, auto, auto, 0);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#fixed {
	background-image: url("img/akatsuki.jpg");
	position: fixed;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center center;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	will-change: transform;
}
[class*="col-"] {
	padding: 1rem;
}
